.ics
  - @ics.each do |ic|
    - if ic.id != @ic.id
      %span>= link_to (image_tag ic.image.url(:small), height: 70, class: 'opacity'), ic_path(ic)
    - else
      %span>= image_tag ic.image.url(:small), height: 70

.ic.main
  = @ic.html.html_safe
