@import "bootstrap-sprockets"
@import "bootstrap"
@import "ics"
@import "places"
@import "simple_form"
@import "jBox"
@import "jquery.Jcrop.min"
@import "jquery.minicolors"

body
  background: image-url('main_back.jpg')

.display_none
  display: none

input, textarea
  border: 0 !important
