.ics
  width: 98%
  margin: 10px auto
  img.opacity
    background: white
    opacity: 0.3
    &:hover
      opacity: 1


.ic_main
  height: 1000px
  width: 98%
  margin: 10px auto
  overflow: hidden
  .js-table
    visibility: hidden
    td
      &:hover
        background: white
        opacity: 0.5

.ic_title.crimson_style
  margin-bottom: 10px
  padding: 7px 10px 7px 100px
