.ics
  img.opacity
    opacity: 0.1
    &:hover
      opacity: 1

.ic_main
  height: 1000px
  width: 100%
  overflow: hidden
  .js-table
    visibility: hidden
    td
      &:hover
        background: white
        opacity: 0.5

.ic.new
  margin-left: 20px
  width: 500px
  color: #a2a2a2
  .image_upload_preview_net
    background: darkslategray
    border-radius: 5px
    background: white
    padding: 5px

  .btn-success
    display: block

  .form-control
    height: 25px

.ic.new .new_ic > *
  margin: 10px 0 0 0

.ic_header
  *
    display: inline-block
  color: #e8e2e2
  padding-left: 5px
  display: inline-block
  width: 100%
  background: brown

  h2
    margin-bottom: 5px

  .logo_wrapper
    .logotype
      margin: 10px
      margin-bottom: 0px
      background-image: image-url('logotype.png')
      height: 50px
      width: 50px
      background-repeat: no-repeat
      background-size: contain
