.place.new
  overflow: hidden

  .new_place
    height: 500px
    background: url('main_back.jpg')

  .t1
    float: left
    width: 700px
    padding: 10px
    height: 500px
    position: relative

  .t2
    .info
      color: #d2d2d2
      font-family: Verdana
      font-style: italic
      font-size: 11px

    .js-image_upload_button, .mini_colors_wrapper, .actions > *
      margin: 0 0 4px 0

    height: 100%
    float: right
    background: rgba(255,255,255,0.1)
    padding: 5px
    width: 183px

    .form-control, .btn
      border-radius: 3px

    .btn-form-main
      color: white
      background: #3f9834
      font-size: 20px
      font-weight: bold
      width: 100%
      border-radius: 5px
      width: 100%
      position: absolute
      bottom: 0

  .mini_previews
    margin-top: 5px
    padding: 5px 45px 0 5px
    border-radius: 2px
    background: rgba(255,255,255,0.1)
    img
      vertical-align: top
    .svg_preview_wrapper
      overflow: hidden
      display: inline-block
      position: absolute

  .actions
    position: relative
    height: 296px
    input
      margin: 5px 0

    textarea
      font-size: 15px

  .js-image_wrapper
    position: relative
    display: inline-block
    box-shadow: 2px 2px 6px black

    .filterPlace
      position: absolute
      top: 0
      left: 0

    .js-image_preview
      max-width: 690px
      max-height: 490px
      background-color: rgba(255,255,255,0.1)

  .mini_colors_wrapper
    .minicolors-panel
      border: none

.centering
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.jcrop-keymgr
  visibility: hidden

.place.show
  height: 100%
  .main_table
    width: 100%
    height: 100%
    .sub_table
      text-align: center
      margin: 0 auto

    td.infos
      padding: 5px

    td.center
      img
        border-radius: 7px

    td.link
      width: 40px
      text-align: center
      &:hover
        background: #f8f8f9
        border-radius: 5px

