.place.new
  height: 100%

  .new_place
    height: 100%

  table
    margin: 0px auto
    height: 100%

    .t1
      padding: 10px
      button
        margin-top: 10px

    .t2
      vertical-align: top
      background: brown
      border-radius: 0 4px 4px 0
      padding: 5px
      width: 20%
      .btn-success
        width: 100%

      .form-control, .btn
        border-radius: 0

  .mini_previews
    margin-top: 5px
    img
      vertical-align: top
    .svg_preview_wrapper
      overflow: hidden
      display: inline-block
      position: absolute

  .actions
    input
      margin: 5px 0

    textarea
      font-size: 15px

  .js-image_wrapper
    position: relative

    .filterPlace
      position: absolute
      top: 0
      left: 0

    img
      width: 100%


  .mini_colors_wrapper
    .minicolors-panel
      border: none

.place.show
  height: 100%
  .main_table
    width: 270px
    height: 100%
    .sub_table
      text-align: center
      margin: 0 auto

    td.infos
      padding: 5px

    td.center
      img
        border-radius: 7px

    td.link
      width: 40px
      text-align: center
      &:hover
        background: #f8f8f9

