.place.new
  .mini_previews
    img
      vertical-align: top
    .svg_preview_wrapper
      overflow: hidden
      display: inline-block
      position: absolute

  .js-image_wrapper
    position: relative
    display: inline-block

    .filterPlace
      position: absolute
      top: 0
      left: 0

    .js-image_preview
      max-height: 350px


