.mini_previews
  = image_tag @original_place.image.url
  .svg_preview_wrapper{ style: "width: #{@ic.place_width}px; height: #{@ic.place_height}px;" }
    %svg{ class: 'filterPlaceSmall', :width => @ic.place_width, :height => @ic.place_height }
      %defs
        %filter{ id: 'fp1' }
          %feFlood{ class: 'rectColored', result: 'floodFill', x: 0, y: 0, width: '100%', height: '100%',
            'flood-color': "rgb(255,255,255)", 'flood-opacity': 1 }
          %feBlend{ in: 'SourceGraphic', in2: 'floodFill', mode: 'multiply' }

      %image{ :height => '100%', :width => '100%', 'xlink:href' => '', class: 'svg_place_image small', filter: 'url(#fp1)' }

