.mini_previews
  = image_tag @original_place.image.url
  .svg_preview_wrapper{ style: "width: #{@ic.place_width}px; height: #{@ic.place_height}px;" }
    %svg{ class: 'filterPlaceSmall', :width => @ic.place_width, :height => @ic.place_height }
      %defs
        %filter{ id: 'fp1' }
          %feComponentTransfer
            %feFuncR{ class: 'filter_r', type: 'linear', slope: '1' }
            %feFuncG{ class: 'filter_g', type: 'linear', slope: '1' }
            %feFuncB{ class: 'filter_b', type: 'linear', slope: '1' }
            %feFuncA{ type: 'identity' }

      %image{ :height => '100%', :width => '100%', 'xlink:href' => '', class: 'svg_place_image small', filter: 'url(#fp1)' }

