.place.show
  %table.main_table
    %tr
      %td.link.left
        .glyphicon.glyphicon-chevron-left

      %td
        %table.sub_table
          %tr
            %td.small

            %td.center
              .image
                = image_tag @place.image.url

            %td.small

          %tr
            %td{ class: 'infos', colspan: 3 }
              - if @place.comment.present? && @place.link.present?
                .comment
                  = link_to @place.comment, @place.link, target: '_blank'
              - elsif @place.comment.present?
                .comment
                  &laquo;
                  = @place.comment
                  &raquo;
              - elsif @place.link.present?
                .comment
                  = link_to @place.link, @place.link, target: '_blank'

      %td.link.right
        .glyphicon.glyphicon-chevron-right
